<footer><p>Danilo Procópio 2022</p> 
  <a href="https://github.com/Danmazda" target="_blank"><i class="fa-brands fa-github"></i></a>
   
  <a href="https://www.linkedin.com/in/danilo-tadeu-fernandes-da-silva-proc%C3%B3pio-458378213" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
  </a>
  </footer>
</body>
<script src="/js/script.js"></script>
</html>