<%- include ('common/header') -%>
<h1>Olá</h1>
<div class="pokeContainer">
  <form action="/" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" />
    <label for="image">Image:</label>
    <input type="url" name="image" />
    <button type="submit">Send</button>
  </form>
</div>
<%- include ('common/footer') -%>
