* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colors : {
  #E64119
  #113399
  #305EE6
  #8DE619
  #619918
} */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Anek Gujarati", sans-serif;
}

/* Header */
header {
  height: 15%;
  width: 100%;
  background-color: #e64119;
  max-width: 100%;
}
.imageHead {
  height: 8vh;
  width: auto;
}
.imageHead:hover {
  cursor: pointer;
  transform: scale(0.8);
}
.fa-bars {
  display: none;
  font-size: 2em;
}
.fa-xmark {
  display: none;
  font-size: 2em;
}
/* Navigation */
ul {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  gap: 30px;
  margin: 5px;
}
a {
  text-decoration: none;
  color: white;
}
ul li a {
  padding-right: 5px;
}
ul li:hover {
  transform: translateY(-5px);
}
ul li:active {
  transform: scale(0.9);
}
.fa-magnifying-glass {
  cursor: pointer;
  color: aliceblue;
}

/* Main */
main {
  background-color: #113399;
  color: white;
  width: 100%;
  height: 80%;
  padding: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 5px;
  margin: 5px;
  font-size: 1em;
  background-color: #619918;
  color: white;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffffff;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}
button:active {
  transform: scale(0.9);
}

/* Register route */
.formContainer {
  padding: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  justify-content: center;
  align-items: flex-start stretch;
}
input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  padding: 3px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}
.inputStats {
  display: flex;
  gap: 10px;
  align-items: center;
}
textarea {
  resize: none;
  border-radius: 5px;
  padding: 3px;
}
optgroup {
  border-radius: 5px;
}

/* index route */
.pokeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  place-content: start;
  overflow-y: scroll;
}

.pokeDiv {
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 4px solid #619918;
}

p::first-letter {
  text-transform: capitalize;
}
.pokeImg {
  height: 15vh;
  width: auto;
}
.pokeImg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pokeImgSingle {
  height: auto;
  width: 20%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 56, 215);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(23, 10, 101);
}

/* footer */
footer {
  background-color: #305ee6;
  color: white;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
@media only screen and (max-width: 1050px) {
  .pokeContainer {
    grid-template-columns: repeat(2, 1fr);
    place-content: start;
  }
}

@media only screen and (max-width: 490px) {
  .pokeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .fa-bars {
    position: fixed;
    right: 10px;
    display: block;
  }
  .fa-bars:hover {
    color: white;
  }
  .fa-xmark {
    display: block;
    color: white;
  }
  .fa-xmark:hover {
    color: red;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.623);
  }
  ul {
    flex-direction: column;
    margin-top: 20px;
  }
  .active {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    padding: 10px;
  }
  .pokeImgSingle {
    height: auto;
    width: 70%;
  }
}
