* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colors : {
  #E64119
  #113399
  #305EE6
  #8DE619
  #619918
} */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header {
  width: 100%;
  height: 15%;
  background-color: #e64119;
}
main {
  background-color: #113399;
  color: white;
  width: 100%;
  height: 80%;
  padding: 9px;
}
footer {
  background-color: #305ee6;
  color: white;
  width: 100%;
  height: 5%;
}

button {
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
  background-color: #619918;
  color: white;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
a {
  text-decoration: none;
  color: white;
}
.formContainer {
  padding: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
}
.inputStats {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pokeContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  max-width: 100%;
  place-content: center;
  overflow-y: scroll;
}
.pokeDivWrapper {
  padding: 5px;
  background-color: #619918;
  border-radius: 5px;
  margin: 5px;
}
.pokeDiv {
  background-color: white;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokeDiv:hover {
  cursor: pointer;
  background-color: beige;
}

.pokeDiv p::first-letter {
  text-transform: capitalize;
}
.pokeImg {
  height: 50%;
  width: 50%;
}
.imageHead {
  height: 10vh;
  width: auto;
}
.imageHead:hover {
  cursor: pointer;
  transform: scale(0.8);
}
